# Enforce LF line endings for all text files (solves formatting checks in Linux-based CI)
* text=auto eol=lf

# Explicitly specify binary files (just in case)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
